* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;

  --bg-url: url(./assets/bg-mobile.jpg);
  --switch-url: url(./assets/moon-stars.svg);

  --buttons-color: rgba(255, 255, 255, 0.1);
  --buttons-border: rgba(255, 255, 255, 0.5);

  --buttons-hover: rgba(255, 255, 255, 0.05);
  --button-border-hover: #ffffff;
  --social-links-hover: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;

  --bg-url: url(./assets/bg-mobile-light.jpg);
  --switch-url: url(./assets/sun.svg);

  --buttons-color: rgba(0, 0, 0, 0.05);
  --buttons-border: rgba(0, 0, 0, 0.5);

  --buttons-hover: rgba(0, 0, 0, 0.02);
  --button-border-hover: #000000;
  --social-links-hover: rgba(0, 0, 0, 0.1);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* background: color image repeat position/size; */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 568px;
  margin: 56px auto 0;
  padding: 0 24px;
}

/* Profile */

.profile {
  text-align: center;
  padding: 24px;
}

.profile img {
  width: 180px;
  height: 180px;
  aspect-ratio: 0.5;
  object-fit: cover;
  border-radius: 50%;
}

.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */

.switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 4px auto;
}

.switch button {
  position: absolute;
  z-index: 1;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);

  width: 32px;
  height: 32px;

  background: white var(--switch-url) no-repeat center;
  cursor: pointer;
  border: 0;
  border-radius: 50%;

  animation: slide-back 0.2s;
}

.switch button:hover {
  outline: 8px solid var(--social-links-hover);
}

.switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--buttons-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 9999px;
}

.light .switch button {
  animation: slide-in 0.2s forwards;
}

/* Botões Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  border: 1px solid var(--buttons-border);
  border-radius: 8px;

  background: var(--buttons-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--buttons-hover);
  border: 1px solid var(--button-border-hover);
}

/* Social Links */

.sociallinks {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

.sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

.sociallinks a:hover {
  background: var(--social-links-hover);
}

/* Rodapé */

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

/* Media queries */

@media screen and (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animations */

@keyframes slide-in {
  from {
    left: 2%;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 2%;
  }
}
